<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="/build/app.css">
    <!-- Ajout de Font Awesome pour les icônes -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <style>
        /* Styles pour le header */
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            /* background-color: #333; */
        }

        nav ul {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        nav ul li {
            margin-right: 20px;
        }

        nav ul li a {
            color: rgb(245, 1, 1);
            text-decoration: none;
            font-size: 18px;
        }

        nav ul li a:hover {
            text-decoration: underline;
        }

        /* Ajout des icônes avant le texte des liens */
        
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ path('app_accueil') }}"><i class="fas fa-home"></i></a></li>
                <li><a href="{{ path('app_gestion') }}"><i class="fas fa-cogs"></i></a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>
        <p>&copy; {{ "now"|date("Y") }} Mon Portfolio</p>
    </footer>
</body>
</html>
